[submodule "Frameworks/SwiftyBeaver"]
	path = Frameworks/SwiftyBeaver
	url = git@github.com:SwiftyBeaver/SwiftyBeaver.git
[submodule "Frameworks/SwiftKeccak"]
	path = Frameworks/SwiftKeccak
	url = git@github.com:uport-project/SwiftKeccak.git
[submodule "Frameworks/NetworkKit"]
	path = Frameworks/NetworkKit
	url = git@github.com:niksauer/NetworkKit.git
